.DS_Store
node_modules/
build
/dist/*
!/dist/*.html
!/dist/manifest.json
!/dist/favicon.ico
coverage/
package-lock.json
.env
yarn-error*
firebase-debug.log

# fbt
.enum_manifest.json
.source_strings.json
.src_manifest.json

# firebase hosting
hosting.*

scripts/**/*.csv.env

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions