@import '../../root.css';

.authBtn {
  width: 85vw;
  height: 8vh;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.5;
  }

  @media (--desktop) {
    width: 320px;
    height: 50px;
  }
}

.logoImg {
  position: absolute;
  left: 16px;
  height: 20px;
  width: 20px;
  object-fit: cover;
}