.navbar {
  position: fixed;
  left: 0;
  right: 0;
  height: 44px;
  border-bottom: 1px solid rgba(0; 0; 0; 0.2);
}

.navbarTxt {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 14px;
  line-height: 20px;
  padding-top: 11px;
}

.leftBtn {
  width: 23px;
  height: 18px;
  position: fixed;
  left: 19px;
  font-size: 12px;
  line-height: 18px;
  padding-top: 12px;
  color: rgba(0; 0; 0; 0.4);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.rightBtn {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 23px;
  height: 18px;
  position: fixed;
  right: 19px;
  font-size: 12px;
  line-height: 18px;
  padding-top: 12px;
  color: rgba(0; 0; 0; 0.4);
  &:hover {
    opacity: 0.5;
  }
}