@import '../../root.css';

/* postcss will autoprefix the css properties */
.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background {
  background: var(--cooniGradient);
}

.oauthBox {
  bottom: 0;
  position: absolute;
};
