@import '../../root.css';

/* postcss will autoprefix the css properties */
.container {
  display: flex;
  height: 100vh;
  align-self: stretch;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.box {
  position: absolute;
  bottom: 40px;
}
.background {
  background: rgb(65, 77, 107);
}
