@import '../../root.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hyperLink {
  text-decoration: none;
  color: rgb(13, 157, 197);
  &:hover {
    color: white;
    background-color: rgb(13, 157, 197);
  }
}